<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--<pattern>%date{ISO8601} %-5level %logger{36} [%X{sourceThread}] [%X{akkaSource}]- %msg%n</pattern>-->
            <pattern>%date{ISO8601} %-5level %logger{36} [%X{akkaSource}]- %msg%n</pattern>

        </encoder>
    </appender>


    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${user.home}/server-${HOSTNAME}-${bySecond}.txt</file>
        <append>true</append>
        <encoder>
            <pattern>%date{ISO8601} %-5level %logger{36} [%X{sourceThread}] [%X{akkaSource}]- %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="org.eclipse.jetty" level="WARN"/>
    <logger name="org.mongodb" level="WARN"/>
    <logger name="ro.cosu.vampires.server.util.SshClient" level="ERROR"/>
    <logger name="ro.cosu.vampires.server" level="DEBUG"/>

</configuration>

